{% extends "base.html" %}

{% block body_main %}
    <div class="container">
        <h1 class="h5">知識を共有しよう．</h1>

        <div class="row col-sm-9">
            <dvi class="row">
                <ul class="nav nav-tabs pull-left col-sm-12" data-bind="foreach: tabs">
                    <li role="pesentation"
                        data-bind="css:{'active':($data == $root.selectedTab()), 'pull-right':($root.tabs().slice(2,5).indexOf($data) > -1)}, click:$root.goToTab">
                        <a data-bind="text: $data"></a>
                    </li>
                </ul>
            </dvi>
            <div data-bind="visible: displayItems.count()==0">まだ記事はありません</div>
            <div class="activities" data-bind="foreach: displayItems.documents">
                <article class="itemBox media">
                    <div class="itemAuthorIcon media-left">
                        <a data-bind="attr: {href: '{{ prefix }}/home/' + user_name()}">
                            <img class="media-object img-thumbnail" alt="user_icon"
                                 data-bind="attr: {src: '{{ prefix }}/' + user_name() + '/icon'}">
                        </a>
                    </div>
                    <div class="itemContent media-body">
                        <div class="itemInfo"><a data-bind="text:user_name, attr: {href: '{{ prefix }}/home/' + user_name()}"></a>が<span
                                data-bind="text:$root.getPostDateTime(created())"></span>前に投稿しました
                        </div>
                        <div class="pull-left"><a
                                data-bind="text:title, attr: {href: '{{ prefix }}/'+user_name()+'/items/'+_id()}"></a>
                        </div>
                        <ul class="list-inline" data-bind="foreach: tags">
                            <li data-bind="visible: $data != ''"><a class='label label-info label-sm'
                                   data-bind="html:'<span class=\'glyphicon glyphicon-tag\' aria-hidden=\'true\'></span>&nbsp;' + $data, attr:{href:'{{ prefix }}/tags/' + $data}"></a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="paginationArea" data-bind="visible: displayItems.count() > 0">
                        <a class="btn btn-primary previous" data-bind="css:{ disabled: displayItems.page() == 1}, click: olderClick"><i class="fui-arrow-left"></i>Newer</a>
                        <a class="btn btn-primary next pull-right" data-bind="css:{ disabled: displayItems.page()*displayItems.per_page() >= displayItems.count()}, click: newerClick">Older<i class="fui-arrow-right"></i></a>
            </div>
            {#
        <div class="activities" data-bind="visible: tabs[1]==selectedTab(),foreach: $root.allItems.documents">
            <article data-bind="text:title">a</article>
        </div>
        <div class="activities" data-bind="visible: tabs[2]==selectedTab(),foreach: stockItems.documents">
            <article data-bind="text:title">a</article>
        </div>
        <div class="activities" data-bind="visible: tabs[3]==selectedTab(),foreach: userItems.documents">
            <article data-bind="text:title">a</article>
        </div>
     #}
        </div>
    </div>
    <script>
        function HomeViewModel() {
            var self = this;
            var page = 1;
            var per_page = 20;
            self.tabs = ko.observableArray(['フィード', '全ての投稿', '自分の投稿', 'ストック']);
            self.selectedTab = ko.observable('フィード');
            self.items = ko.mapping.fromJS({});
            self.displayItems = ko.mapping.fromJS({'count': 0, "documents": [], 'page':0, 'per_page':0});

            self.goToTab = function (tab) {
                self.selectedTab(tab);
                console.log(self.items[tab]);
                ko.mapping.fromJS(self.items[tab], self.displayItems);
            };

            self.getDocuments = function(url, page, per_page, tab, callback){
                $.get(url, {page:page, per_page:per_page}, function (data) {
                    self.items[tab] = data.data;
                    if(callback)callback.call();
                });
            };

            self.getFeeds = function(page, per_page, callback){
                var def = new $.Deferred();
                var url = '{{ prefix }}/{{ user.user_name }}/feeds';
                var tab = self.tabs()[1];
                self.getDocuments(url,page, per_page, tab, callback);
                return def.promise();
            };

            self.getItems = function(page, per_page, callback){
                var url = '{{ prefix }}/items';
                var tab = self.tabs()[1];
                self.getDocuments(url,page, per_page, tab, callback)
            };

            self.getStocks = function(page, per_page, callback){
                var url = '{{ prefix }}/stocks/{{ user.user_name }}';
                var tab = self.tabs()[2];
                self.getDocuments(url,page, per_page, tab, callback)
            };

            self.getUsersItems = function(per_page, tab, callback){
                var url = '{{ prefix }}/authenticated_user/items?status=published';
                var tab = self.tabs()[3];
                self.getDocuments(url,page, per_page, tab, callback)
            };


            self.InitItems = function () {
                ko.utils.arrayForEach(self.tabs(), function (tab) {
                    self.items[tab] = {'count': 0, "documents": [], 'page':0, 'per_page':0};
                });
                self.getFeeds(page, per_page, function(){self.goToTab(self.tabs()[0])});
                self.getItems(page, per_page);
                self.getStocks(page, per_page);
                self.getUsersItems(page, per_page);
            };

            self.InitItems();

            self.getData = function(page, per_page){
                if(self.selectedTab() == "フィード"){
                    self.getFeeds(page, per_page, function(){self.goToTab(self.tabs()[0]);});
                }else if(self.selectedTab() == "全ての投稿"){
                    self.getItems(page, per_page, function(){self.goToTab(self.tabs()[1]);});
                }else if(self.selectedTab() == "自分の投稿"){
                    self.getUsersItems(page, per_page, function(){self.goToTab(self.tabs()[2]);});
                }else if(self.selectedTab() == "ストック"){
                    self.getStocks(page, per_page, function(){self.goToTab(self.tabs()[3]);});
                }
            };

            self.olderClick = function(){
                var page = self.displayItems.page() - 1;
                var per_page = self.displayItems.per_page();
                self.getData(page, per_page)
            };
            self.newerClick = function(){
                var page = self.displayItems.page() + 1;
                var per_page = self.displayItems.per_page();
                self.getData(page, per_page)
            };


            self.getPostDateTime = function (created) {
                var post = moment(created);
                var now = moment();
                var y = now.diff(post, "year"); // 閏年の計算のため
                if (y > 0) return String(y) + '年';

                var msec = now.diff(post);
                
                var sec = msec / 1000 | 0;
                var min = sec / 60 | 0;
                var h = min / 60 | 0;
                var d = h / 24 | 0;
                if (d > 0) return String(d) + '日';
                if (h > 0) return String(h) + '時間';
                if (min > 0) return String(min) + '分';

                return String(sec) + '秒';
            };
        }
        ko.applyBindings(new HomeViewModel());
    </script>
{% endblock %}